@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body{
    background-image: url(/images/perfect.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    background-position-y: top;
}

.sea{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}






